<% if policy(Species).create? %>
  <div class="float-right">
    <%= link_to 'Add', new_species_path, class: 'btn btn-primary', role: 'button' %>
  </div>
<% end %>

<% if @botanical_group.present? %>
  <h1>List of <%= @botanical_group.humanize.downcase %> trees</h1>
<% else %>
  <h1>List of species</h1>
<% end %>

<ul class="mt-3">
  <% @species.each do |species| %>
    <li>
      <%= link_to species.botanical_name, species %><% if species.common_names.present? %> (<%= split_list(species.common_names).first %>)<% end %>
    </li>
  <% end %>
</ul>
