<h1><%= @user.username %></h1>

<p>
  Contributed <%= link_to pluralize(@edits.total_count, "edit"), edits_user_path(@user) %>
  and <%= link_to pluralize(@comments.total_count, "comments"), comments_user_path(@user) %>
  since <%= time_tag @user.created_at.to_date %>.
</p>
