<div class="row my-5">
  <div class="col col-md-8 offset-md-2 my-3">
    <h1 class="display-3 mb-4 text-center">Bonsai Database</h1>
    <p class="lead">Bonsai is the art of growing small trees in pots that comes from a long tradition in Japan. It requires a lot of technical knowledge and the aim of this project is to maintain an up to date database of the best pratices.</p>
  </div>
</div>

<h2><%= link_to "Common species used in bonsai", species_index_path %></h2>
<p>The first step to successfully grow for a bonsai is to learn the specific requirements of its species.</p>
